// Color Scheme
$color-background: rgb(48, 48, 48);
$color-primary: #5c8db6;
$color-primary-alt: #2e556f;
$color-secondary: #886653;
$color-tertiary: #538881;

$color-success: #76ed21;
$color-highlight: #5196ce;
//$color-neutral: rgb(121, 121, 121);
$color-neutral: #c3c3c3;
$color-warning: #f89406;
$color-danger: #dd4a38;

// Color Application
$background: $color-background;

$node-background-color: $color-primary;
$node-outer-color: $color-neutral;
$port-background-color: $color-neutral;
$port-highlight-color: $color-highlight;
$port-label-color: white;

$port-candidate-color: white;

$label-highlight-color: lighten($color-highlight, 30%);

$edge-inner-color: $color-neutral;
$edge-inner-width: 2px;
$edge-outer-color: $color-background;
$edge-outer-width: 7px;

$font-family: sans-serif;
$font-color: white;